<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyeyum.mapper.MemberMapper">
<resultMap type="com.hyeyum.domain.MemberVO" id="memberMap">
       <id property="userid" column="userid"/>
       <result property="userid" column="userid"/>
       <result property="userpw" column="userpw"/>
       <result property="name" column="name"/>
       <result property="regDate" column="regDate"/>
       <collection property="authList" resultMap="authMap"></collection>
    </resultMap>
    <resultMap type="com.hyeyum.domain.AuthVO" id="authMap">
       <result property="userid" column="userid"/>
       <result property="auth" column="auth"/>
    </resultMap>
    
    <select id="read" resultMap="memberMap">
       	SELECT * 
      	FROM TBL_MEMBER
      	JOIN TBL_MEMBER_AUTH
      	USING (USERID)
     	WHERE USERID = #{userid}
    </select>
    
    <select id="getList" resultMap="memberMap">
       	SELECT * 
      	FROM TBL_MEMBER
    </select>
    
    


</mapper>
